
@use './../utils';
.l-card-container {
    gap: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    @include utils.mq(md){
      flex-direction: row;
      flex-wrap: wrap;
      & > li {
        width: 300px;
      }
      &:has( > li:nth-child(4)) {
        gap: 24px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        & > li {
          width: inherit;
        }
      }
        
    }
    &--pickup {
        gap: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        @include utils.mq(md){
            gap: 24px;
            margin-bottom: 48px;
            
        }
    }
    &--related-posts {
        margin-top: 32px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        margin-bottom: 56px;

        @include utils.mq(md){
            display: grid;
            gap: 24px;
            margin-bottom: 0;
            grid-template-columns: 1fr 1fr 1fr;
            .c-card__title {
                font-size: 1.8rem;
            }
        }
    }
}
