@use "../utils";

.l-container {
    max-width: #{utils.$u-container}px;
    padding-left: utils.$u-margin-y;
    padding-right: utils.$u-margin-y;
    margin-inline: auto;
    @include utils.mq(md){
        padding-left: utils.$u-margin-y-pc;
        padding-right: utils.$u-margin-y-pc;
      
    }//media query
    &--blog {
        &__aside {
            position: relative;
            &__inner {

                @include utils.mq(md){
                    position: sticky;
                    right: 0;
                    top: 76px;
                }
            }
        }
        @include utils.mq(md){
            position: relative;
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr 250px;
        }
        @include utils.mq(lg){
            gap: 56px;
            display: grid;
            grid-template-columns: 1fr 300px;
        }
        @include utils.mq(xl){
            gap: 56px;
            display: grid;
            grid-template-columns: 1fr 400px;
        }
    }
    &--article {
         @include utils.mq(md){
            justify-content: center;
            position: relative;
            display: grid;
            gap: 32px;
            margin-inline: auto;
            grid-template-columns: minmax(0, 800px) 250px;
        }
         @include utils.mq(lg){
            justify-content: center;
            position: relative;
            display: grid;
            gap: 32px;
            margin-inline: auto;
            grid-template-columns: minmax(0, 800px) 300px;
        
        }
         @include utils.mq(xl){
            justify-content: center;
            position: relative;
            display: grid;
            gap: 32px;
            margin-inline: auto;
            grid-template-columns: minmax(0, 800px) 400px;
        }

    }
}
