@use '../../utils';
.c-article{
    margin-right: 0;
    .instagram-embed {
    border:1px solid #ddd;
     padding: 16px 12px;
     border-radius: 8px;
     max-width: max-content;
     margin: 16px auto;
     iframe {
        max-width: 100%;
        width: 100%;
     }
    }
    &__heading {
        color: var(--color-d-blue);
        font-size: 2rem;
        margin-bottom: 16px;
        @include utils.mq(md){
            margin-bottom: 16px;
            font-size: 2.8rem;
          
        }//media query
    }
    &__date {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        dt {
            font-weight: bold;
            margin-bottom: 0px;
        }
        dd {
            margin-left: 0;
            font-family: var(--font-alphabet);
        }
    }
    &__tags {
         margin-top: 16px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        
        a {
            text-decoration: none;
            font-size: var(--font-sm);
            line-height: 1;
            color: var(--color-blue);
            display: block;
            border-radius: 4px;
            border: 1px solid var(--color-blue);
            background: var(--background);
            padding: 4px 8px 4px 4px;
            @include utils.mq(md){
                &:hover {

                    color: var(--background);
                    background: var(--color-blue);
                }
            }

            &::before {
                content: "";
                width: 1em;
                height: 1em;
                vertical-align: -0.2em;
                display: inline-block;
                border-radius: 50%;
                background: var(--background);
                border: 2px solid var(--color-blue);
                transform: scale(0.5);
            }
        }
    }
    &__cate {
        display: flex;
        gap: 16px;
        align-items: center;
        dt {
            font-family: var(--font-alphabet);
        }
        dd {
            margin-left: 0;
            a {
                text-decoration: none;
                padding: 4px 16px;
                color: var(--background);
                display: block;
                border-radius: 4px;
                border: 1px solid var(--color-blue);
                background: var(--color-blue);
                @include utils.mq(md){
                    &:hover {
                        color: var(--color-blue);
                        background: var(--background);
                        
                    }
                }
            }
        }
    }
}
