@use '../../utils' as *;
.c-bio {
    border-bottom: 6px solid var(--pale-gray);
    border-right: 6px solid var(--pale-gray);
    border-left: 6px solid var(--pale-gray);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 80px;
    padding: 16px;
    position: relative;
    &__title {
        font-size: 1.6rem;
        left: 0;
        width: calc(100% + 12px);
        position: absolute;
        top: -40px;
        height: 40px;
        display: grid;
        gap: 6px;
        align-items: flex-start;
        font-weight: bold;
        margin-right: -6px;
        grid-template-columns: 1fr auto 1fr;
        margin-left: -6px;
        @include mq(md){
          grid-template-columns: 32px auto 1fr;
          font-size: 1.9rem;
        }//media query
        &::before,
        &::after {
            display: block;
            height: 32px;
            margin-top: 10px;
            content: '';
                border-top: 6px solid var(--pale-gray);
        }
        &::before {
            border-left: 6px solid var(--pale-gray);
            border-top-left-radius: 12px;
        }
        &::after {
            border-top-right-radius: 12px;
            border-right: 6px solid var(--pale-gray);
        }
    }
    &__footer {
        margin-top: 16px;
        clear: both;
        gap: 8px 16px;
        display: flex;
        font-family: var(--font-alphabet);
        text-decoration: none;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        @include mqd(md){
          max-width: 150px;
          margin-inline: auto;

        }
        @include mq(md){
          justify-content: flex-end;
        }//media query
        a {
            color: var(--color-blue);
            svg {
                width: 20px;
            }
            svg,path {
                fill: var(--color-blue);
            }
          &:not(:has(svg)) {
            text-decoration: none;
            color: var(--background);
            background: var(--color-blue);
            border-radius: 8px;
            padding: 4px 16px;
            
          }
        }
    }
    &__img {
      border-radius: 50%;
      width: 150px;
      display: block;
      margin: 0 auto 16px;
      @include mq(md){
        float: left;
        margin-right: 16px;
        margin-bottom: 16px;
      }//media query
    }
    &__name {
        font-weight: bold;
        margin-bottom: 0.5em;
        @include mqd(md){
          text-align: center;
        }
    }
    &__message {
      font-size: 1.4rem;
        @include mq(md){
            font-size: 1.6rem;
          
        }//media query
    }
    
}
