@use './../../utils';
.c-btn{
    &--detail {
        position: relative;
        z-index: 1;
        display: inline-block;
        line-height: 1;
        text-align: center;
        width: 100%;
        padding: 20px 0px;
        border: 1px solid var(--color-blue);
        color: var(--color-blue);
        border-radius: 5px;
        letter-spacing: 0.15em;
        font-size: 1.6rem;
        overflow: hidden;
        text-decoration: none;
        background: var(--background);
        max-width: 400px;
        @include utils.mq(md){
            &:hover {
                color: var(--background);
                &::before {
                    left: 0px;
                }
            }
        }//media query
        &::before {
            transform: skew(-45deg);
            z-index: -1;
            transition: 0.3s;
            position: absolute;
            content: "";
            display: block;
            left: -120%;
            top: 0px;
            width: 120%;
            height: 100%;
            background: var(--color-blue);
        }
        
    }
    &--switch-mode {
        position: fixed;
        right: 16px;
        bottom: 8px;
        border-radius: 50px;
        border: 1px solid var(--color-blue);
        background: linear-gradient(to right, var(--background) 50%, var(--color-blue) 50%);
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        z-index: 100;
        @include utils.mqd(md){
            padding: 4px 16px;
        }
        svg {
            fill: var(--color-blue);
            @include utils.mqd(md){
                width: 20px;
            }
            & + svg {
                fill: var(--background);
            }
        }
    }
}
