@use './../../utils';
.c-faq{
    margin-bottom: 16px;
    background: var(--pale-gray);
    border-radius: 16px;
    dt {
            padding: 16px 16px 16px 60px;
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid var(--background);
    &::before {
        font-family: var(--font-alphabet);
            color: var(--color-blue);
            position: absolute;
            left: 16px;
            content: "Q.";
            font-size: 28px;
            top: 14px;
            line-height: 1.4;
        }
    }
    dd {
            font-size: 16px;
    position: relative;
    padding: 16px 16px 16px 60px;
    margin: 0;
    code {
      background: var(--color-d-blue);
      color: var(--light-color);
      padding: 2px 6px;
      font-weight: bold;
      border-radius:  5px;
      font-size: 0.9em;
    }
    p {
      margin-top: 0!important;
      margin-bottom: 0!important;
      font-size: 15px!important;
    }
    &::before {
            color: var(--accent-color);
            top: 6px;
            line-height: 1;
            position: absolute;
            left: 16px;
            content: "A.";
            font-weight: bold;
            font-size: 28px;
        }
    }
}
