@use './../../utils';
.c-footer-nav {
    min-width: max-content;
    padding: 0 40px;
    font-family: var(--font-alphabet);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 8px 0 ;
    a {
        letter-spacing: 0.15em;
        color: rgb(255, 255, 255);
        position: relative;
        padding-left: 20px;
        text-decoration: none;
        display: inline-block;
        &:hover {
            &::before {
                    left: 5px;
            }
        }
    }
    a::before {
        transition: 0.3s;
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 8px;
        left: 0px;
        display: block;
        border-top: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        border-image: initial;
        border-bottom: none;
        border-left: none;
        transform: rotate(45deg);
    }

    &--sns {
        padding: 0 40px;
        display: flex;
        gap: 16px;
        svg, path {
            fill: #fff;
        }
    }
}
