@use './../../utils';


%blog-header {
    position: relative;
    background: url(/images/genre-common-sp@1x.webp) center center / cover no-repeat;
    padding: 100px 16px 0px  32px;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-column: 100%;
    height: 250px;
    gap: 16px;
    text-align: center;
    color: #fff;
    text-shadow:0px 0px 2px rgba(0, 0, 0, 0.6) ,0px 0px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;

    &.blog {
      padding: 78px 16px 0 16px;
      height: auto;
    }
    

    &::before {
      width: 100%;
      position: absolute;
      display: block;
      content: '';
      height: 30px;
      left: 0;
      bottom: 0;
      z-index: -1;
      background: linear-gradient(to top, rgb(0 0 0 /.5) 0%,rgb(0 0 0 / 0) 100%);
    }
    @include utils.mq(md){
      background: url(/images/genre-common.webp) center / cover no-repeat;
      height: 280px;       
      padding: 100px 32px 0px 32px;
    }
    & > div,
    & > h1 {
        display: grid;
        align-self: center;
        
        font-size: 2rem;
        @include utils.mq(md){
            font-size: 2.4rem;
        }
        span {
            margin-bottom: 8px;
            display: block;
            font-size: 1.8rem;
            @include utils.mq(md){
                font-size: 2rem;
            }
        }
        h1.en {
            font-size: 1.8rem;
            margin-bottom: 18px;
            span {
            display: block;

                letter-spacing: .1em;
                font-family: var(--font-alphabet);

            @include utils.mq(md){
                font-size: 3.2rem;
            }
            }
        }
    }
    p {
        font-size: 1.4rem;
        @include utils.mq(md){
            font-size: 2rem;
        }
    }
}
.c-page-header {
  &__img {
    border-radius: 8px;
    overflow: hidden;
    max-width: 460px;
    display: block;
    margin-inline: auto;
    border-radius: 8px;
    box-shadow: 0 0 16px rgb(0 0 0 / .5);
  }
  @each $item in utils.$genre {
    &--#{$item} {
      background-image: url("/images/genre-#{$item}.webp");
      @extend %blog-header;
    }
  }
}
@include utils.mqd(md){
  @supports (background-image: image-set(url("/images/genre-common-sp@1x.webp") type("image/webp") 1x)){
    .c-page-header {
      background-image: image-set(
        url("/images/genre-common-sp@1x.webp") type("image/webp") 1x,
        url("/images/genre-common-sp@2x.webp") type("image/webp") 2x,
      );
    }
  }
  @each $item in utils.$genre {
    @supports (background-image: image-set(url("/images/genre-#{$item}-sp@1x.webp") type("image/webp") 1x)){
      .c-page-header--#{$item} {
        background-image: image-set(
          url("/images/genre-#{$item}-sp@1x.webp") type("image/webp") 1x,
          url("/images/genre-#{$item}-sp@2x.webp") type("image/webp") 2x,
        );
      }
    }
  }
}
