
@use './../../utils';
.c-toc {
    @include utils.mq(md){
        max-height: 10dvh;
        min-height: 300px;
        overflow: auto;
        margin-left: -5px;
        padding-left: 5px;
    }
    ul {
        margin: 0;
        counter-reset: num;
        margin-bottom: 0;
    }
    li {
            counter-increment: num;
            margin-bottom: 1px;
            ul {
                a {
                    padding: 4px 4px 4px 3.6em;
                &::before {
                    width: 3.9em;
                }
                }
                 ul {
                    a {
                        padding: 4px 4px 4px 5.2em;
                    &::before {
                        width: 5.4em;
                    }
                    }
                }
            }
    }
    p {
        margin-bottom: 1px;
    }
    a {
        display: block;
        position: relative;
        padding: 4px 4px 4px 2.3em;
        font-size: var(--font-sm);
        color: var(--background);
        text-decoration: none;
        border: 1px solid var(--color-blue);
        background: var(--color-blue);
        &::before {
            font-size: 1rem;
            position: absolute;
            left: 0;
            top: 0;
            font-family: var(--font-alphabet);
            width: 2em;
            font-weight: bold;
            content: counters(num, " - ");
            color:var(--color-blue);
            background: var(--background);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.active {
            opacity: 0.7;
        }
        
        @include utils.mq(md){
            transition: opacity .3s;
          &:hover {
            opacity: 0.7;
          }
        }//media query
    }
}
