
@use './../../utils';
.c-toc {
    @include utils.mqd(md){
    &__wrapper {
        &.is-open {
            height: calc(100dvh - 48px);
            opacity: 1;
        }
        transition: opacity .3s;
        opacity: 0;
        overflow: hidden;
        height: 0;
        width: 100%;
        position: fixed;
        top: 48px;
        left: 0;
        backdrop-filter: blur(3px);
        z-index: 5000;
        background: var(--header-background);
        padding: 16px 16px 80px;
        .c-toc {
            height: calc(100% - 64px);
            overflow: auto;
        }
    }
    }
    @include utils.mq(md){
        max-height: 40dvh;
        overflow: auto;
        margin-left: -5px;
        margin-bottom: 32px;
        padding-left: 5px;
    }
    ul {
        margin: 0;
        counter-reset: num;
        margin-bottom: 0;
    }
    li {
            counter-increment: num;
            margin-bottom: 1px;
            ul {
                a {
                    padding: 4px 4px 4px 3.6em;
                    &::before {
                        width: 3.9em;
                    }
                }
                 ul {
                    a {
                        padding: 4px 4px 4px 5.2em;
                    &::before {
                        width: 5.4em;
                    }
                    }
                }
            }
    }
    p {
        margin-bottom: 1px;
    }
    a {
        display: block;
        position: relative;
        padding: 4px 4px 4px 2.3em;
        font-size: 1.4rem;
        color: var(--background);
        text-decoration: none;
        border: 1px solid var(--color-blue);
        background: var(--color-blue);
        @include utils.mqd(md){
            font-size: 1.6rem;
            padding: 6px 4px 6px 2.3em;
        }
        &::before {
            font-size: 1rem;
            position: absolute;
            left: 0;
            top: 0;
            font-family: var(--font-alphabet);
            width: 2em;
            font-weight: bold;
            content: counters(num, " - ");
            color:var(--color-blue);
            background: var(--background);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.active::before {
            background: var(--pale-gray);
             color: var(--accent-color);   
        }
        
        @include utils.mq(md){
            transition: opacity .3s;
          &:hover {
            opacity: 0.7;
          }
        }//media query
    }
}
.l-header.is-white + main .c-toc__wrapper.is-open {
    @include utils.mqd(md){
        top: 58px;
        height: calc(100dvh - 58px);
    }
}
