.c-grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    @include mq(md){
        gap: 32px;
    }//media query
    &__item {
        width: 100%;
        &--md6 {
            margin-bottom: 0;
            @include mq(md){
                width: calc(50% - 16px);
            }//media query
        }
        &--lg4 {
            margin-bottom: 0;
            @include mq(lg){
                width: calc(33.33333% - 22px);
            }//media query
        }
    }
}
