.l-footer {
      background: #333;
      text-align: center;
      padding: 15px;
      padding-bottom: 50px;
      color: #ffffff;

      .footer-nav {
          margin-bottom: 10px;
      }

      .footer-nav li {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
      }

      .footer-nav a {
          color: #ffffff;
          padding: 5px;
          font-size: 2rem;
      }

      .footer-btn {
          z-index: 10;
          position: fixed;
          bottom: -35px;
          left: calc(50% - 35px);
          width: 70px;
          height: 70px;
          background: #e95014;
          border-radius: 50%;
      }

      .footer-btn::after {
          content: "";
          display: block;
          width: 100%;
          position: fixed;
          bottom: 0;
          left: 0;
          border-bottom: 2px solid #e95014;
      }

      svg {
          width: 20px;
          height: 20px;
      }

      .footer-btn::before {
          top: 14px;
          position: relative;
          content: "";
          width: 20px;
          height: 20px;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          display: inline-block;
      }
}
