.c-heading{
    &--lg {
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.6;
        font-size: 1.8rem;
        letter-spacing: 0.1em;
        @include mq(md){
              font-size: 2rem;
        }//media query

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background: var(--color-accent);
            margin: 7px auto 0px;
        }
    }
}
