.side-topic {
    margin-bottom: 34px !important;
    display: none;

    &--heading {

        border-bottom: none;
        background: var(--color-blue);
        color: var(--background) !important;
        text-align: left;
        font-size: 1.4rem!important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &::after {
            content: none!important;
        }

        margin-bottom: 0!important;
        padding: 10px 16px;

    }

    @media screen and (min-width: 768px) {
        display: block;
    }
    & > ul{
        overflow: auto;
        height: 500px;
        border: var(--color-blue) 1px solid;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    ul {
    counter-reset: num;
    }

    li {
        counter-increment: num;
    }

    a {
        line-height: 1.2;
        display: block;
        padding: 10px 16px;
        background: var(--pale-gray);
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 1px solid var(--background);
        &:hover {
            opacity: 0.7;
        }
        &::before {
            text-align: center;
            font-weight: bold;
            width: 40px;
            font-size: 10px;
            background: var(--color-blue);
            content: counters(num, ' - ');
            color: var(--background);
            padding: 2px 8px;
            border-radius: 4px;
            display: inline-block;
            margin-right: 8px;
        }
        &.current {
            background: var(--background);
        }
    }
}
