import styled from "styled-components";

export const ChocoFooter = styled.footer`
.l-footer {
	text-align: center;
	background: #4b3933;
	background-image: repeating-linear-gradient(-45deg, #4f4040, #4f4040 1px, transparent 2px, transparent 5px);
	padding: 24px 24px 10px;
	color: #fff;
	padding: 24px;
}

.l-footer ul {
	margin-bottom: 24px;
	display: flex;
	gap: 24px;
	justify-content: center;
}

.l-footer a {
	color: #fff;
}

