import { createGlobalStyle } from "styled-components"

export const ChocoCommonStyle = createGlobalStyle`
body {
	--color: #2e2e2e;
	--color-deep: #0796ba;
	--light-color: #fff;
	--color-sec: #4989b9;
	--color-accent: #4bc180;
}

main {
	display: block;
	padding-bottom: 1px;
	background: #f5f5f5;
}

body {
	font-weight: 400;
	font-size: 1.4rem;
	color: var(--color);
	background: #f5f5f5;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.l-sidebar {
	margin-top: 50px;
}

.l-sidebar .ads {
	margin-top: 30px;
	margin-bottom: 30px;
}

.l-sidebar .title {
	color: #fff;
	text-align: center;
	display: block;
	background: var(--color-deep);
	margin-bottom: 24px;
	font-weight: bold;
	padding: 8px 16px;
	margin-left: -16px;
	margin-right: -16px;
}

.l-sidebar .profile {
	padding: 0 16px 16px;
	background: #fff;
	text-align: center;
	margin-bottom: 32px;
}

.l-sidebar .profile img {
	border-radius: 50%;
	width: 120px;
}

.l-sidebar .profile .name {
	margin-top: 16px;
	margin-bottom: 8px;
	font-weight: bold;
}

.l-sidebar .profile .text {
	text-align: left;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 1.8;
}

.l-sidebar .profile .sns {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.l-sidebar .profile svg {
	color: var(--color-sec);
	width: 24px;
}

.l-sidebar .profile svg:hover {
	text-decoration: none;
}

.l-sidebar a:hover {
	opacity: 0.8;
}

.l-sidebar .search {
	background: #fff;
	padding: 0 16px;
	margin-bottom: 32px;
}

.l-sidebar .search > div {
	margin-bottom: 0;
}

.l-sidebar .search input {
	display: block;
	margin-bottom: 16px;
	border: 1px solid #aaa;
}

.l-sidebar .search .result-inner {
	margin-left: -16px;
	margin-right: -16px;
	border-radius: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.l-sidebar .search .result-inner p {
	font-size: 14px;
}

.l-sidebar .search .result-inner ul {
	border-radius: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.l-sidebar .search .result-inner li {
	padding: 0;
	margin-left: 0;
	line-height: 1.4;
	margin-bottom: 5px;
}

.l-sidebar .search .result-inner li a {
	background: #fbfafa;
	background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 1px, transparent 2px, transparent 5px);
	border: 2px solid #eee;
	display: block;
	padding: 8px 16px;
	font-size: 14px;
	text-decoration: none;
	transition: 0.3s;
}

.l-sidebar .search .result-inner li a:hover {
	opacity: 0.8;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.l-sidebar .search .result-inner time {
	display: block;
}

.l-body {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
}

.l-main {
	margin-top: 50px;
	background: #fff;
	border-radius: 16px;
	padding: 16px;
	margin-top: 30px;
}

.l-main .ads {
	margin: 24px 0;
}

.l-main .c-heading--lg {
	font-size: 20px;
	text-align: center;
	margin-bottom: 16px;
}

.l-header {
	text-align: center;
	background: #4b3933;
	background-image: repeating-linear-gradient(-45deg, #4f4040, #4f4040 1px, transparent 2px, transparent 5px);
	padding: 24px;
}

.l-header h1 {
	margin: 0;
	font-size: 20px;
	color: #fff;
}

.l-header h1 a {
	color: #fff;
}

.l-header ul {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 24px;
}

.l-header ul li {
	font-weight: bold;
	font-size: 18px;
}

.l-header a {
	text-decoration: none;
	color: #fff;
}

.l-footer {
	text-align: center;
	background: #4b3933;
	background-image: repeating-linear-gradient(-45deg, #4f4040, #4f4040 1px, transparent 2px, transparent 5px);
	padding: 24px 24px 10px;
	color: #fff;
	padding: 24px;
}

.l-footer ul {
	margin-bottom: 24px;
	display: flex;
	gap: 24px;
	justify-content: center;
}

.l-footer a {
	color: #fff;
}

.c-article-body {
	line-height: 2.2;
}

.c-article-body a:not([class]) {
	color: var(--color-sec);
}

.c-article-body a:not([class]):hover {
	text-decoration: none;
}

.c-article-body p {
	margin: 0.8em 0;
}

.c-article-body h4 {
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 16px;
	margin-top: 24px;
	position: relative;
	color: var(--color-deep);
}

.c-article-body h2 {
	line-height: 1.4;
	border-bottom: var(--color-deep) solid 2px;
	border-top: var(--color-deep) solid 2px;
	font-size: 20px;
	margin-bottom: 24px;
	margin-top: 16px;
	position: relative;
	padding-bottom: 16px;
	padding-top: 16px;
}

.c-article-body h2::before {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 24px;
	border-top: 16px solid var(--color-deep);
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

.c-article-body * ~ h2 {
	margin-top: 32px;
}

.c-article-body .box {
	line-height: 1.8;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: var(--color-deep) solid 2px;
	margin-top: 32px;
	padding: 16px;
	border-radius: 16px;
	background: #fbfafa;
	background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	margin-bottom: 32px;
	position: relative;
}

.c-article-body .box p:first-child {
	margin-top: 0;
}

.c-article-body .box .title {
	background: var(--color-deep);
	font-weight: bold;
	color: #fff;
	margin: -16px -16px 16px;
	display: block;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	padding: 4px 16px 4px 40px;
	font-size: 17px;
	position: relative;
}

.c-article-body .box .title::before {
	content: "";
	background: #fff;
	width: 20px;
	top: calc(50% - 10px);
	height: 20px;
	display: block;
	border-radius: 50%;
	left: 16px;
	position: absolute;
}

.c-article-body .box .title::after {
	left: 22px;
	top: calc(50% - 7px);
	transform: rotate(45deg);
	border-bottom: 3px solid var(--color-deep);
	border-right: 3px solid var(--color-deep);
	content: "";
	position: absolute;
	text-indent: 0;
	width: 4px;
	height: 10px;
}

.c-article-body .box ul:last-child,
.c-article-body .box ol:last-child {
	margin-bottom: 0;
}

.c-article-body .box ul li:last-child,
.c-article-body .box ol li:last-child {
	margin-bottom: 0;
}

.c-article-body ul {
	margin-bottom: 16px;
}

.c-article-body ul li {
	padding-left: 20px;
	position: relative;
	margin-bottom: 8px;
}

.c-article-body ul li::before {
	content: "";
	background: #ca1c6d;
	width: 14px;
	top: 8px;
	height: 14px;
	display: block;
	border-radius: 50%;
	left: 0;
	position: absolute;
}

.c-article-body ul li::after {
	left: 5px;
	transform: rotate(45deg);
	top: 10px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: "";
	position: absolute;
	text-indent: 0;
	width: 3px;
	height: 6px;
}

.c-article-body iframe {
	display: block;
	margin-bottom: 30px;
	margin-top: 30px;
}

.c-article-body h3 {
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 16px;
	margin-top: 24px;
	border-bottom: #ddd solid 2px;
	padding-bottom: 16px;
	position: relative;
}

.c-article-body h3::before {
	position: absolute;
	content: "";
	bottom: -2px;
	left: 0;
	width: 80px;
	display: block;
	height: 2px;
	background: var(--color-deep);
}

.c-article-body em {
	font-weight: bold;
	font-style: normal;
	color: #ca1c6d;
}

.c-article-body strong {
	background: linear-gradient(transparent 60%, #ffbed5 60%);
}

.c-article-body table {
	margin-top: 18px;
	margin-bottom: 18px;
	width: 100%;
}

.c-article-body table th {
	background: #666;
	background-image: repeating-linear-gradient(-45deg, #727272, #727272 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	color: #fff;
}

.c-article-body table th,
.c-article-body table td {
	padding: 4px 8px;
	border: 1px solid #aaa;
}

.c-article-body {
	line-height: 2.2;
}

.c-article-body a:not([class]) {
	color: var(--color-sec);
}

.c-article-body a:not([class]):hover {
	text-decoration: none;
}

.c-article-body p {
	margin: 0.8em 0;
}

.c-article-body h4 {
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 16px;
	margin-top: 24px;
	position: relative;
	color: var(--color-deep);
}

.c-article-body h2 {
	line-height: 1.4;
	border-bottom: var(--color-deep) solid 2px;
	border-top: var(--color-deep) solid 2px;
	font-size: 20px;
	margin-bottom: 24px;
	margin-top: 16px;
	position: relative;
	padding-bottom: 16px;
	padding-top: 16px;
}

.c-article-body h2::before {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 24px;
	border-top: 16px solid var(--color-deep);
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

.c-article-body * ~ h2 {
	margin-top: 32px;
}

.c-article-body .box {
	line-height: 1.8;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	border: var(--color-deep) solid 2px;
	margin-top: 32px;
	padding: 16px;
	border-radius: 16px;
	background: #fbfafa;
	background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	margin-bottom: 32px;
	position: relative;
}

.c-article-body .box p:first-child {
	margin-top: 0;
}

.c-article-body .box .title {
	background: var(--color-deep);
	font-weight: bold;
	color: #fff;
	margin: -16px -16px 16px;
	display: block;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	padding: 4px 16px 4px 40px;
	font-size: 17px;
	position: relative;
}

.c-article-body .box .title::before {
	content: "";
	background: #fff;
	width: 20px;
	top: calc(50% - 10px);
	height: 20px;
	display: block;
	border-radius: 50%;
	left: 16px;
	position: absolute;
}

.c-article-body .box .title::after {
	left: 22px;
	top: calc(50% - 7px);
	transform: rotate(45deg);
	border-bottom: 3px solid var(--color-deep);
	border-right: 3px solid var(--color-deep);
	content: "";
	position: absolute;
	text-indent: 0;
	width: 4px;
	height: 10px;
}

.c-article-body .box ul:last-child,
.c-article-body .box ol:last-child {
	margin-bottom: 0;
}

.c-article-body .box ul li:last-child,
.c-article-body .box ol li:last-child {
	margin-bottom: 0;
}

.c-article-body ul {
	margin-bottom: 16px;
}

.c-article-body ul li {
	padding-left: 20px;
	position: relative;
	margin-bottom: 8px;
}

.c-article-body ul li::before {
	content: "";
	background: #ca1c6d;
	width: 14px;
	top: 8px;
	height: 14px;
	display: block;
	border-radius: 50%;
	left: 0;
	position: absolute;
}

.c-article-body ul li::after {
	left: 5px;
	transform: rotate(45deg);
	top: 10px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: "";
	position: absolute;
	text-indent: 0;
	width: 3px;
	height: 6px;
}

.c-article-body iframe {
	display: block;
	margin-bottom: 30px;
	margin-top: 30px;
}

.c-article-body h3 {
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 16px;
	margin-top: 24px;
	border-bottom: #ddd solid 2px;
	padding-bottom: 16px;
	position: relative;
}

.c-article-body h3::before {
	position: absolute;
	content: "";
	bottom: -2px;
	left: 0;
	width: 80px;
	display: block;
	height: 2px;
	background: var(--color-deep);
}

.c-article-body em {
	font-weight: bold;
	font-style: normal;
	color: #ca1c6d;
}

.c-article-body strong {
	background: linear-gradient(transparent 60%, #ffbed5 60%);
}

.c-article-body table {
	margin-top: 18px;
	margin-bottom: 18px;
	width: 100%;
}

.c-article-body table th {
	background: #666;
	background-image: repeating-linear-gradient(-45deg, #727272, #727272 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	color: #fff;
}

.c-article-body table th,
.c-article-body table td {
	padding: 4px 8px;
	border: 1px solid #aaa;
}

@media screen and (min-width: 768px) {

body {
	font-size: 1.6rem;
}

.l-sidebar {
	width: 250px;
	padding-left: 32px;
}

.l-body {
	padding: 40px;
	display: flex;
	justify-content: space-between;
}

.l-main {
	margin-top: 50px;
	border-radius: 24px;
	width: calc(100% - 250px);
	padding: 32px 32px 40px;
}

.l-main .c-heading--lg {
	font-size: 24px;
	margin-bottom: 32px;
}

.c-article-body h2::before {
	left: 40px;
}

.c-article-body h2 {
	margin-bottom: 32px;
	margin-top: 32px;
	font-size: 24px;
	padding-bottom: 24px;
	padding-top: 24px;
}

.c-article-body * ~ h2 {
	margin-top: 40px;
}

.c-article-body .box .title {
	margin: -24px -24px 16px;
	padding: 6px 24px 6px 48px;
}

.c-article-body .box .title ::before {
	left: 20px;
}

.c-article-body .box .title ::after {
	left: 26px;
}

.c-article-body .box {
	padding: 24px;
}

.c-article-body h3 {
	font-size: 22px;
	margin-bottom: 24px;
	margin-top: 40px;
}

.c-article-body h2::before {
	left: 40px;
}

.c-article-body h2 {
	margin-bottom: 32px;
	margin-top: 32px;
	font-size: 24px;
	padding-bottom: 24px;
	padding-top: 24px;
}

.c-article-body * ~ h2 {
	margin-top: 40px;
}

.c-article-body .box .title {
	margin: -24px -24px 16px;
	padding: 6px 24px 6px 48px;
}

.c-article-body .box .title ::before {
	left: 20px;
}

.c-article-body .box .title ::after {
	left: 26px;
}

.c-article-body .box {
	padding: 24px;
}

.c-article-body h3 {
	font-size: 22px;
	margin-bottom: 24px;
	margin-top: 40px;
}

}

@media screen and (min-width: 1020px) {

.l-sidebar {
	width: 300px;
}

.l-main {
	padding: 32px 52px 40px;
}

}

