@charset "UTF-8";
.l-card-container {
  gap: 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .l-card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .l-card-container > li {
    width: 300px;
  }
  .l-card-container:has(> li:nth-child(4)) {
    gap: 24px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .l-card-container:has(> li:nth-child(4)) > li {
    width: inherit;
  }
}
.l-card-container--pickup {
  gap: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .l-card-container--pickup {
    gap: 24px;
    margin-bottom: 48px;
  }
}
.l-card-container--related-posts {
  margin-top: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .l-card-container--related-posts {
    display: grid;
    gap: 24px;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .l-card-container--related-posts .c-card__title {
    font-size: 1.8rem;
  }
}

.c-heading--lg h2 {
  font-family: var(--font-alphabet);
}

.c-heading--lg {
  text-align: center;
  padding: 16px 16px;
  margin-bottom: 24px;
  border-image: linear-gradient(0deg, var(--font-color) 100%, rgba(0, 0, 0, 0) 0) fill 0 // 0 100vw 0 100vw;
  color: var(--background);
  margin-top: 32px;
}
.c-heading--lg h2 {
  line-height: 1;
  font-size: var(--font-xl);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .c-heading--lg {
    margin-top: 32px;
    margin-bottom: 32px;
    border-image: linear-gradient(0deg, var(--font-color) 100%, rgba(0, 0, 0, 0) 0) fill 0 // 0 0 0 100vw;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 0;
    gap: 16px;
    /* または */
  }
  .c-heading--lg h2 {
    font-size: 5.6rem;
    margin-bottom: 0;
  }
}
.c-heading__aside {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .c-heading__aside {
    margin-bottom: 16px;
    font-size: 2rem;
  }
}

.l-footer {
  background: var(--footer-background);
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .l-footer {
    flex-direction: row;
    display: flex;
    padding: 32px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.l-footer__copyright {
  margin-top: 32px;
  text-align: center;
  width: 100%;
}

.c-footer-nav {
  min-width: max-content;
  padding: 0 40px;
  font-family: var(--font-alphabet);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 8px 0;
}
.c-footer-nav a {
  letter-spacing: 0.15em;
  color: rgb(255, 255, 255);
  position: relative;
  padding-left: 20px;
  text-decoration: none;
  display: inline-block;
}
.c-footer-nav a:hover::before {
  left: 5px;
}
.c-footer-nav a::before {
  transition: 0.3s;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 8px;
  left: 0px;
  display: block;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-image: initial;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}
.c-footer-nav--sns {
  padding: 0 40px;
  display: flex;
  gap: 16px;
}
.c-footer-nav--sns svg, .c-footer-nav--sns path {
  fill: #fff;
}

.l-sidebar {
  position: relative;
  top: 0;
  left: 0;
}

.c-pickup-card {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .c-pickup-card {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-pickup-card a {
  color: var(--color-blue);
  text-decoration: none;
}
.c-pickup-card__sub-title {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto 1fr;
  font-size: 1.4rem;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .c-pickup-card__sub-title {
    gap: 16px;
    font-size: 1.6rem;
  }
}
.c-pickup-card__sub-title span {
  font-size: 1.8rem;
  font-family: var(--font-alphabet);
}
@media screen and (min-width: 768px) {
  .c-pickup-card__sub-title span {
    font-size: 3rem;
  }
}
.c-pickup-card__sub-title::before, .c-pickup-card__sub-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--font-color);
}
@media screen and (min-width: 768px) {
  .c-pickup-card__img {
    width: 40%;
  }
}
.c-pickup-card__img .gatsby-image-wrapper {
  border-radius: 8px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: block;
}
.c-pickup-card__img .gatsby-image-wrapper img {
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .c-pickup-card:hover .gatsby-image-wrapper img {
    opacity: 0.5 !important;
    scale: 1.2;
    rotate: -5deg;
  }
}
.c-pickup-card__heading {
  margin-bottom: 8px;
}
@media screen and (min-width: 1080px) {
  .c-pickup-card__heading {
    font-size: var(--font-lg);
  }
}
.c-pickup-card__date {
  font-family: var(--font-alphabet);
  margin-bottom: 6px;
  display: block;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .c-pickup-card__main {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .c-pickup-card__main {
    width: calc(59% - 16px);
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

.c-card {
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-card {
    display: flex;
    justify-content: space-between;
  }
}
.c-card a {
  text-decoration: none;
  color: var(--color-blue);
}
@media screen and (min-width: 768px) {
  .c-card:hover {
    color: var(--color-link);
  }
}
.c-card__img {
  margin-bottom: 16px;
  display: block;
}
.c-card__img .gatsby-image-wrapper {
  border-radius: 8px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: block;
}
.c-card__img .gatsby-image-wrapper img {
  transition: 0.5s;
}
.c-card__img:hover .gatsby-image-wrapper img {
  opacity: 0.5 !important;
  scale: 1.2;
  rotate: -5deg;
}
@media screen and (max-width: 767px) {
  .c-card__img {
    width: 40%;
    margin-bottom: 0;
  }
}
.c-card__date {
  left: -6px;
  font-family: var(--font-alphabet);
  display: block;
  padding: 4px 18px;
  top: 15px;
  background: var(--color-blue);
  position: absolute;
  color: var(--background);
  transform: skew(-10deg);
  font-size: 1.2rem;
}
@media screen and (max-width: 767px) {
  .c-card__date {
    padding: 3px 18px;
    top: -4px;
    font-size: 1.4rem;
  }
}
.c-card__title {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .c-card__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .c-card__main {
    width: calc(60% - 16px);
    display: grid;
    grid-template-rows: 1fr auto;
  }
}
.c-card__tags {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  scrollbar-width: none;
  overflow: auto hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .c-card__tags {
    flex-wrap: wrap;
  }
}
.c-card__tags a {
  text-decoration: none;
  font-size: var(--font-sm);
  line-height: 1;
  color: var(--color-blue);
  display: block;
  border-radius: 4px;
  border: 1px solid var(--color-blue);
  background: var(--background);
  padding: 4px 8px 4px 4px;
}
.c-card__tags a::before {
  content: "";
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  display: inline-block;
  border-radius: 50%;
  background: var(--background);
  border: 2px solid var(--color-blue);
  transform: scale(0.5);
}
@media screen and (min-width: 768px) {
  .c-card__tags a {
    transition: color 0.3s, background-color 0.3s;
  }
  .c-card__tags a:hover {
    color: var(--background);
    background: var(--color-blue);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.c-greeting .gatsby-image-wrapper {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 16px;
}
@media screen and (min-width: 768px) {
  .c-greeting .gatsby-image-wrapper {
    margin-right: 16px;
    float: left;
  }
}
.c-greeting p {
  font-size: 1.1em;
  margin-bottom: 1em;
}
