.l-card-container{display:flex;flex-direction:column;gap:16px;margin-bottom:32px}@media screen and (min-width:768px){.l-card-container{flex-direction:row;flex-wrap:wrap}.l-card-container>li{width:300px}.l-card-container:has(>li:nth-child(4)){grid-gap:24px;display:grid;gap:24px;grid-template-columns:repeat(auto-fit,minmax(300px,1fr));margin-bottom:48px}.l-card-container:has(>li:nth-child(4))>li{width:inherit}}.l-card-container--pickup{display:flex;flex-direction:column;gap:24px;gap:16px;margin-bottom:24px}@media screen and (min-width:768px){.l-card-container--pickup{gap:24px;margin-bottom:48px}}.l-card-container--related-posts{display:flex;flex-direction:column;gap:16px;margin-bottom:56px;margin-top:32px}@media screen and (min-width:768px){.l-card-container--related-posts{display:grid;grid-gap:24px;gap:24px;grid-template-columns:1fr 1fr 1fr;margin-bottom:0}.l-card-container--related-posts .c-card__title{font-size:1.8rem}}.c-heading--lg h2{font-family:var(--font-alphabet)}.c-heading--lg{-o-border-image:linear-gradient(0deg,var(--font-color) 100%,transparent 0) 0 //0 100vw 0 100vw;border-image:linear-gradient(0deg,var(--font-color) 100%,transparent 0) fill 0 //0 100vw 0 100vw;color:var(--background);margin-bottom:24px;margin-top:32px;padding:16px;text-align:center}.c-heading--lg h2{font-size:var(--font-xl);line-height:1;margin-bottom:8px}@media screen and (min-width:768px){.c-heading--lg{align-items:center;-o-border-image:linear-gradient(0deg,var(--font-color) 100%,transparent 0) 0 //0 0 0 100vw;border-image:linear-gradient(0deg,var(--font-color) 100%,transparent 0) fill 0 //0 0 0 100vw;display:flex;gap:16px;margin-bottom:32px;margin-top:32px;padding:16px 32px 16px 0;width:-moz-max-content;width:max-content}.c-heading--lg h2{font-size:5.6rem;margin-bottom:0}}.c-heading__aside{font-size:1.8rem;margin-bottom:16px;text-align:center}@media screen and (min-width:768px){.c-heading__aside{font-size:2rem;margin-bottom:16px}}.l-footer{background:var(--footer-background);color:#fff;display:flex;flex-direction:column;padding:16px}@media screen and (min-width:768px){.l-footer{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;padding:32px}}.l-footer__copyright{margin-top:32px;text-align:center;width:100%}.c-footer-nav{display:flex;flex-direction:column;font-family:var(--font-alphabet);gap:16px;margin:8px 0;min-width:-moz-max-content;min-width:max-content;padding:0 40px}.c-footer-nav a{color:#fff;display:inline-block;letter-spacing:.15em;padding-left:20px;position:relative;-webkit-text-decoration:none;text-decoration:none}.c-footer-nav a:hover:before{left:5px}.c-footer-nav a:before{border:1px solid #fff;border-bottom:none;-o-border-image:none;border-image:none;-o-border-image:initial;border-image:initial;border-left:none;content:"";display:block;height:5px;left:0;position:absolute;top:8px;transform:rotate(45deg);transition:.3s;width:5px}.c-footer-nav--sns{display:flex;gap:16px;padding:0 40px}.c-footer-nav--sns path,.c-footer-nav--sns svg{fill:#fff}.l-sidebar{left:0;position:relative;top:0}.c-bio{border-bottom:6px solid var(--pale-gray);border-bottom-left-radius:12px;border-bottom-right-radius:12px;border-left:6px solid var(--pale-gray);border-right:6px solid var(--pale-gray);margin-bottom:80px;margin-top:80px;padding:16px;position:relative}.c-bio__title{display:grid;font-size:1.6rem;height:40px;left:0;position:absolute;top:-40px;width:calc(100% + 12px);grid-gap:6px;align-items:flex-start;font-weight:700;gap:6px;grid-template-columns:1fr auto 1fr;margin-left:-6px;margin-right:-6px}@media screen and (min-width:768px){.c-bio__title{font-size:1.9rem;grid-template-columns:32px auto 1fr}}.c-bio__title:after,.c-bio__title:before{border-top:6px solid var(--pale-gray);content:"";display:block;height:32px;margin-top:10px}.c-bio__title:before{border-left:6px solid var(--pale-gray);border-top-left-radius:12px}.c-bio__title:after{border-right:6px solid var(--pale-gray);border-top-right-radius:12px}.c-bio__footer{align-items:center;clear:both;display:flex;flex-wrap:wrap;font-family:var(--font-alphabet);gap:8px 16px;justify-content:center;margin-top:16px;-webkit-text-decoration:none;text-decoration:none}@media screen and (max-width:767px){.c-bio__footer{margin-left:auto;margin-right:auto;max-width:150px}}@media screen and (min-width:768px){.c-bio__footer{justify-content:flex-end}}.c-bio__footer a{color:var(--color-blue)}.c-bio__footer a svg{width:20px}.c-bio__footer a path,.c-bio__footer a svg{fill:var(--color-blue)}.c-bio__footer a:not(:has(svg)){background:var(--color-blue);border-radius:8px;color:var(--background);padding:4px 16px;-webkit-text-decoration:none;text-decoration:none}.c-bio__img{border-radius:50%;display:block;margin:0 auto 16px;width:150px}@media screen and (min-width:768px){.c-bio__img{float:left;margin-bottom:16px;margin-right:16px}}.c-bio__name{font-weight:700;margin-bottom:.5em}@media screen and (max-width:767px){.c-bio__name{text-align:center}}.c-bio__message{font-size:1.4rem}@media screen and (min-width:768px){.c-bio__message{font-size:1.6rem}}.c-post-body code[class*=language-],.c-post-body pre[class*=language-]{color:#fff;text-shadow:none}.c-post-body .language-css .token.string,.c-post-body .style .token.string,.c-post-body .token.entity,.c-post-body .token.operator,.c-post-body .token.url{background:none}.c-post-body .gatsby-resp-image-wrapper,.c-post-body ol:not([class]),.c-post-body p:not([class]),.c-post-body ul:not([class]){margin-bottom:1em;margin-top:1em}@media screen and (min-width:768px){.c-post-body .gatsby-resp-image-wrapper,.c-post-body ol:not([class]),.c-post-body p:not([class]),.c-post-body ul:not([class]){font-size:1.8rem}}.c-post-body .gatsby-resp-image-wrapper{display:block}.c-post-body em{color:var(--accent-color);font-weight:bolder}.c-post-body strong{background:linear-gradient(transparent 60%,var(--yellow) 0);font-weight:bolder;text-shadow:0 0 4px var(--background),0 0 1px var(--background)}.c-post-body ul:not([class])>li{margin-bottom:.2em;padding-left:1.5em;position:relative}.c-post-body ul:not([class])>li:before{background:var(--accent-color);border-radius:50%;color:#001d7c;content:"";display:block;height:1em;left:8px;position:absolute;scale:.5;top:6px;width:1em}.c-post-body ol:not([class]){counter-reset:num}.c-post-body ol:not([class])>li{counter-increment:num;margin-bottom:.2em;padding-left:2em;position:relative}.c-post-body ol:not([class])>li:before{color:var(--color-blue);content:counters(num,".") ". ";display:block;font-family:var(--font-alphabet);left:8px;position:absolute;top:2px;width:2em}.c-post-body .box{border:2px solid var(--color-blue);border-radius:8px;margin-bottom:40px;margin-top:20px;padding:10px 15px}.c-post-body .box h2,.c-post-body .box h3,.c-post-body .box h4{color:var(--accent-color)}.c-post-body .box>:first-child{margin-top:0}.c-post-body .box>:last-child{margin-bottom:0}@media screen and (min-width:768px){.c-post-body .box{border-radius:15px;margin-top:30px;padding:20px 30px}.c-post-body h2,.c-post-body h3{margin-bottom:24px;margin-top:56px}}.c-post-body h2{color:var(--color-d-blue);font-size:2rem;margin-bottom:24px}@media screen and (min-width:768px){.c-post-body h2{font-size:2.8rem}}.c-post-body h2:after{background:linear-gradient(to right,var(--accent-color) 15%,var(--pale-gray) 15%);border-width:0 3px 3px 0;content:"";display:block;height:2px;margin-top:12px}.c-post-body h3{color:var(--color-d-blue);font-size:1.9rem;font-weight:700}@media screen and (min-width:768px){.c-post-body h3{font-size:2.4rem}}.c-post-body h3:after{background:var(--accent-color);content:"";display:block;height:2px;margin-top:4px;width:30px}.c-post-body h4{color:var(--color-d-blue);font-size:1.8rem}@media screen and (min-width:768px){.c-post-body h4{font-size:2.2rem}.c-post-body h4,.c-post-body h5{margin-bottom:24px;margin-top:56px}}.c-post-body blockquote{background:var(--pale-gray);border-radius:15px;margin-bottom:30px;margin-top:40px;padding:20px 40px;position:relative}.c-post-body blockquote:after,.c-post-body blockquote:before{border-left:8px double #ccc;content:"";display:block;height:30px;left:8px;position:absolute;top:-8px;transform:skewX(-35deg);width:8px}.c-post-body blockquote:after{height:50px;right:0;width:8px}.c-post-body blockquote:before{height:50px;left:10px;width:8px}.c-post-body a{color:var(--color-link)}.c-post-body a:hover{-webkit-text-decoration:none;text-decoration:none}.c-post-body .gatsby-code-title{background:var(--color-blue);border-top-left-radius:5px;border-top-right-radius:5px;color:var(--light-color);display:inline-block;font-size:1.4rem;font-weight:700;letter-spacing:.1em;line-height:1;padding:6px 15px;vertical-align:bottom}.c-post-body .gatsby-code-title+.gatsby-highlight pre[class*=language-]{border-top-left-radius:0;margin-top:0}.c-post-body pre[class*=language-]{background:var(--code-bg);border:none;border-radius:.5em;box-shadow:none;margin:30px 0 40px;overflow:auto;padding:1em}.c-post-body :not(pre)>code[class*=language-]{background:var(--color-d-blue);border:none;box-shadow:none;padding:2px 6px}.c-post-body .table-wrapper{overflow:auto}@media screen and (max-width:767px){.c-post-body .table-wrapper{margin-right:-16px;padding-right:16px;width:calc(100% + 16px)}}.c-post-body table{border-collapse:collapse;border-spacing:0;max-width:600px;width:100%}.c-post-body table td,.c-post-body table th{border:1px solid #bbb;padding:.3em .7em}.c-post-body table th{background:var(--color);color:var(--light-color);font-size:.9em}.c-post-body table tr:nth-child(2n){background:var(--pale-gray)}.c-post-body li code[class*=language-],.c-post-body p code[class*=language-],.c-post-body table code[class*=language-]{color:var(--light-color);font-size:1.4rem;text-shadow:none}.msg-baloon{align-items:start;display:flex;margin:3em 0}.msg-baloon--img__wrapper{font-size:1.2rem;font-weight:700;text-align:center;width:100px}.msg-baloon .msg-baloon--img__wrapper .msg-baloon--img{border-radius:50%;margin-bottom:15px}.msg-baloon .msg-baloon--img__wrapper img{border-radius:50%}.msg-baloon>p{background:var(--pale-gray);border-radius:10px;margin-left:30px;padding:15px;position:relative;width:calc(100% - 130px)}.msg-baloon>p:before{border-bottom:10px solid transparent;border-right:15px solid var(--pale-gray);border-top:10px solid transparent;content:"";left:-15px;position:absolute;top:15px}.msg-baloon--right{align-items:start;display:flex;flex-direction:row-reverse;margin:3em 0}.msg-baloon--right>p{background:var(--pale-gray);border-radius:10px;margin-right:30px;padding:15px;position:relative;width:calc(100% - 130px)}.msg-baloon--right>p:before{border-bottom:10px solid transparent;border-left:15px solid var(--pale-gray);border-top:10px solid transparent;content:"";position:absolute;right:-15px;top:15px}.msg-baloon--right .msg-baloon--img__wrapper .msg-baloon--img{border-radius:50%;margin-bottom:15px}.c-about-profile{align-items:center;display:flex;flex-direction:column}.c-about-profile__name{font-weight:700;margin-bottom:16px}.c-about-profile__name span{font-size:1.1em}.c-about-profile__roll{font-size:1.1em;font-weight:700;margin-bottom:32px}.c-about-profile .prfImg{border-radius:50%;height:300px;margin:0 auto 16px;width:300px}.c-about-profile__sns{display:flex;gap:24px;justify-content:center;margin-top:32px}.c-about-profile__sns svg,.c-about-profile__sns svg path{fill:var(--color-link)}.c-form{margin-top:32px}.c-form__list ul{display:flex;flex-direction:column;gap:8px;margin-top:0!important}.c-form__list li:before{content:none!important}.c-form__list li input{display:none}.c-form__list li input:checked+span:after{opacity:1}.c-form__list li span:after,.c-form__list li span:before{background:#ccc;border-radius:50%;content:"";display:block;height:18px;left:0;position:absolute;top:4px;width:18px}.c-form__list li span:after{background:var(--accent-color);height:14px;left:2px;opacity:0;top:6px;transition:opacity .3s;width:14px}.c-form dl{display:grid;grid-gap:6px;gap:6px;grid-template-columns:1fr}@media screen and (min-width:768px){.c-form dl{gap:16px;grid-template-columns:150px 1fr}}.c-form dl dt{font-weight:700;margin-top:16px}@media screen and (min-width:768px){.c-form dl dt{margin-top:0}}.c-form dl dt span{color:var(--accent-color);font-size:1.2rem;margin-left:10px}.c-form dl dd{margin-left:0}.c-form dl input[type=email],.c-form dl input[type=text],.c-form dl textarea{background:var(--background);border:3px solid #ccc;color:var(--font-color);display:block;height:50px;width:100%}.c-form dl textarea{height:200px}.c-form span.error{color:var(--accent-color);display:inline-block;font-weight:700;padding-top:6px;text-align:center}.c-form .agreement{text-align:center}.c-form .agreement input[type=checkbox]{display:none}.c-form .agreement input[type=checkbox]:checked+span:after{opacity:1}.c-form .agreement span{display:inline-block;height:20px;position:relative;width:30px}.c-form .agreement span:after,.c-form .agreement span:before{background:#ccc;content:"";display:block;height:18px;left:0;position:absolute;top:4px;width:18px}.c-form .agreement span:after{background:none;border-bottom:3px solid var(--accent-color);border-right:3px solid var(--accent-color);height:14px;left:3px;opacity:0;top:1px;transform:rotate(45deg);transition:.3s;width:10px}.c-form button{align-items:center;background:#fff;border:3px solid var(--accent-color);color:var(--accent-color);display:flex;font-size:2rem;font-weight:700;height:60px;justify-content:center;margin:15px auto;max-width:300px;width:100%}.c-form button:disabled{opacity:.5;pointer-events:none}.c-form .loading{display:none;padding:10px;text-align:center}.c-form .loading.show{display:block}ar(--color-link);
}

.c-post-body .gatsby-highlight-code-line {
  background: rgba(255, 255, 255, 0.5) !important;
}

.c-form {
  margin-top: 32px;
}
.c-form__list ul {
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.c-form__list li::before {
  content: none !important;
}
.c-form__list li input {
  display: none;
}
.c-form__list li input:checked + span::after {
  opacity: 1;
}
.c-form__list li span::after, .c-form__list li span::before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 0px;
  top: 4px;
  background: rgb(204, 204, 204);
  border-radius: 50%;
}
.c-form__list li span::after {
  width: 14px;
  height: 14px;
  left: 2px;
  top: 6px;
  background: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s;
}
.c-form dl {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .c-form dl {
    gap: 16px;
    grid-template-columns: 150px 1fr;
  }
}
.c-form dl dt {
  font-weight: bold;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .c-form dl dt {
    margin-top: 0;
  }
}
.c-form dl dt span {
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-left: 10px;
}
.c-form dl dd {
  margin-left: 0;
}
.c-form dl textarea,
.c-form dl input[type=text],
.c-form dl input[type=email] {
  width: 100%;
  height: 50px;
  display: block;
  border: 3px solid rgb(204, 204, 204);
  background: var(--background);
  color: var(--font-color);
}
.c-form dl textarea {
  height: 200px;
}
.c-form span.error {
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
  padding-top: 6px;
  display: inline-block;
}
.c-form .agreement {
  text-align: center;
}
.c-form .agreement input[type=checkbox] {
  display: none;
}
.c-form .agreement input[type=checkbox]:checked + span::after {
  opacity: 1;
}
.c-form .agreement span {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.c-form .agreement span:before, .c-form .agreement span::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 18px;
  height: 18px;
  background: rgb(204, 204, 204);
  display: block;
}
.c-form .agreement span::after {
  background: none;
  width: 10px;
  height: 14px;
  top: 1px;
  left: 3px;
  border-bottom: 3px solid var(--accent-color);
  border-right: 3px solid var(--accent-color);
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.3s;
}
.c-form button {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px auto;
  background: rgb(255, 255, 255);
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}
.c-form button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.c-form .loading {
  display: none;
  text-align: center;
  padding: 10px;
}
.c-form .loading.show {
  display: block;
}