.c-article__heading {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-d-blue);
    line-height: 1.4;

    @include mq(md) {
        margin-bottom: 30px;
        font-size: 2.8rem;
    }
}

.l-body {
    &--article {

        @include mq(md){
            display: flex;
            position: relative;
            max-width: 1120px;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        aside.l-container .display {
            margin-bottom: 50px;
        }
    }
}
