.searchBox {
	margin-bottom: 20px;
	text-align: center;
}
.searchBox input{
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	max-width: 500px;
	border: solid 1px var(--color-blue);
	box-sizing: border-box;
	outline: none;
	font-size: 1.6rem;
	box-shadow: none;
}

.result {
	margin-bottom: 30px;
	text-align: center;
}
.resultList {
	background: #eee;
	max-height: 300px;
	overflow: auto;
	margin-bottom: 50px;
	border-radius: 10px;
}
.resultList li{
	padding: 10px 20px;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 1.8;
}
.resultList li a{
	color: var(--color-blue);
}

.resultList li time{
	display: block;
	font-weight: normal;
	font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
	.resultList li{
		text-indent: -100px;
		margin-left: 100px;
	}
	.resultList li a{
		text-decoration: underline;
	}

	.resultList li time{
		font-size: 1.4rem;
		width: 100px;
		text-indent: 0;
		display: inline-block;
	}

}
