.contact{
	margin-top: 20px;
}
.contact dt{
	font-weight: bold;
	margin-bottom: 5px;
}
.contact dd{
	margin-bottom: 15px;
}
.contact input[type=text] {
	width: 100%;
	padding: 8px;
}
.contact textarea {
	width: 100%;
	padding: 8px;
}
@media screen and (min-width: 768px){
	.contact{
		margin-top: 40px;
	}
	.contact dl {
		display: flex;
		flex-wrap: wrap;
	}
	.contact dt{
		width: 200px;
		margin-bottom: 15px;
	}
	.contact dd{
		width: calc(100% - 200px)
	}
}
