.firstViewArea{

	position: relative;
	height: 0;
	padding-top: 120%;
	text-align: center;
	color: #ffffff;
	overflow: hidden;
}
.firstViewArea::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    background: url(/static/c4e5facdfd6e443b9f0abd3ece2ea3c0/ee604/bg_fire.png) #f99f03;
    background-size: cover;
    animation: yurayura 4s infinite;
}

.firstViewArea_main {
	left: 0;
    top: 50%;
    width: 100%;
    padding: 30px;
    padding-top: 20%;
    text-align: center;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: url(/static/62b6c6bb9eee7df124b9414edbf7b268/ee604/camille.png) no-repeat top center;
    background-size: contain;
}

.firstViewArea_main h1{
	font-size: 2em;
	font-weight: bold;
    margin: 0.67em 0;
}

/* メディアクエリ */
@media screen and (min-width: 768px){

	.firstViewArea {
		padding-top: 50%;
	}
}

@keyframes yurayura {
    0% {
        -webkit-transform: skew(0deg) scale(1.2, 1.2);
        transform: skew(0deg) scale(1.2, 1.2)
    }

    20% {
        -webkit-transform: skew(-2deg) scale(1.2, 1.2) translate(5px, 5px);
        transform: skew(-2deg) scale(1.2, 1.2) translate(5px, 5px)
    }

    50% {
        -webkit-transform: skew(1deg) scale(1.2, 1.25) translate(5px, -5px);
        transform: skew(1deg) scale(1.2, 1.25) translate(5px, -5px)
    }

    70% {
        -webkit-transform: skew(-3deg) scale(1.22, 1.2) translate(5px, 5px);
        transform: skew(-3deg) scale(1.22, 1.2) translate(5px, 5px)
    }

    100% {
        -webkit-transform: skew(0deg) scale(1.2, 1.2);
        transform: skew(0deg) scale(1.2, 1.2)
    }
}
