@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
.default {
    background: #e95014;
    overflow: hidden;
	animation: delete .1s 2s forwards;
	color: #333;
}
.default > * {
    opacity: 0;
    -webkit-animation: loadIn 1s 2s forwards;
    animation: loadIn 1s 2s forwards;
}
.default::before {
    position: fixed;
    display: block;
    content: '';
    width: 1px;
    height: 1px;
    display: block;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #ffffff;
    -webkit-animation: boul 2s forwards;
    animation: boul 2s forwards;
}
.firstViewArea {
    position: relative;
    height: 0;
    padding-top: 120%;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.header {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: rgb(51, 51, 51);
	color: rgb(233, 80, 20);
	border-bottom: 1px solid rgb(233, 80, 20);
	z-index: 10;
	padding: 6px;
}

.headerLogo {
	margin: 5px 0px 0px;
	float: left;
	font-family: "Archivo Black", serif;
	padding-left: 15px;
	letter-spacing: 0.1em;
}

.navBtn{
	top: 0;
    position: absolute;
    right: 0;
    display: none;
    display: block;
    width: 44px;
    height: 100%;
    background-image: linear-gradient(-45deg, rgba(233,80,20,0.5) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(233,80,20,0.5) 50%, rgba(233,80,20,0.5) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0));
    background-size: 30px 30px;
    background-position: center 4px;
    -webkit-transition: .3s;
	transition: .3s;

}

.globalNav ul{
	display: none;
    padding: 0 15px;

}

/* メディアクエリ */
@media screen and (min-width: 768px){
	.navBtn{
		display: none;
	}

	.globalNav ul {
		display: block;
		padding: 0;
		list-style: none;
		text-align: right;
		font-size: 0;
		position: relative;
		z-index: 100;
	}

	.globalNav ul li {
		text-align: center;
		display: inline-block;
	}

	.globalNav a {
		width: 120px;
		display: block;
		padding: 3px 15px;
		font-size: 1.8rem;
		letter-spacing: .1em;
		text-decoration: none;
		color: #e95014;
		font-family: "Archivo Black", sans-serif;
		position: relative;
		overflow: hidden;
		-webkit-transition: .3s;
		transition: .3s;
	}
	.globalNav a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(233,80,20,0.8);
		transition: .6s;
		z-index: -1;
	}
	.globalNav a:hover{
		color: #333;
	}
	.globalNav a:hover::after {
		left: 0;
	}
}
@-webkit-keyframes loadIn {
    0% {
    }

    100% {
        opacity: 1
    }
}

@keyframes loadIn {
    0% {
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes boul {
    50% {
        top: 50%;
        height: 3px;
        width: 100%
    }

    100% {
        top: 50%;
        width: 100%;
        height: 100%
    }
}

@keyframes boul {
    50% {
        top: 50%;
        height: 3px;
        width: 100%
    }

    100% {
        top: 50%;
        width: 100%;
        height: 100%
    }
}

@-webkit-keyframes delete {
    0% {
    }

    100% {
        background: #fff
    }
}

@keyframes delete {
    0% {
    }

    100% {
        background: #fff
    }
}

@-webkit-keyframes irukaShow {
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes irukaShow {
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes fadeIn {
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}

@keyframes fadeIn {
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}
