@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

.recomendList {
    list-style: none;
    padding-left: 0;
    counter-reset: cnt;
    margin-bottom: 100px;
    margin-top: 30px;
}

.recomendList li {
    counter-increment: cnt;
    position: relative;
    padding-left: 2em;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.8;
}

.recomendList li::before {
    top: 0.2em;
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    display: block;
    background: #e95014;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Archivo Black', sans-serif;
    content: counter(cnt);
}
/* メディアクエリ */
@media screen and (min-width: 768px){

}
