.WorksList {
	margin-top: 30px;

}
.WorksList article{
	padding: 10px 3px 3px;
	border: 8px solid #eee;
	margin-bottom: 4px;
}
.WorkItem h3{
		font-weight: bold;
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 5px;
}
	.WorksList .WorkItemImg{
		display: block;
		margin-top: 10px;
	}
@media screen and (min-width: 426px){
	.WorksList {
		display: flex;
		flex-wrap: wrap;
	}
	.WorksList {
		display: flex;
		flex-wrap: wrap;
	}

	.WorksList article{
		width: 50%;
		padding: 1px;
		position: relative;
		overflow: hidden;
		font-size: 1.4rem;
		border: none;
		margin-bottom: 0;
	}

	.WorksList .WorkItemImg{
		display: block;
		transition: .3s;
		margin-top: 0;
	}

	.WorksList article:hover .WorkItemImg{
		transform: scale(1.2) rotate(-5deg);
	}

	.WorkItem {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		z-index: 1;
		opacity: 0;
		color: #ffffff;
		transition: .3s;
		background: rgba(0,0,0,.8);
	}

	.WorkItem:hover {
		opacity: 1;
	}

	.WorkItem h3{
		font-weight: bold;
		font-size: 2rem;
		margin-bottom: 10px;
	}

}

@media screen and (min-width: 768px){
	.WorksList article{
		width: 33.333%;
	}
}
@media screen and (min-width: 1200px){
	.WorkItem h3{
		font-size: 2.6rem;
	}
	.WorksList article{
		width: 25%
	}
}
